pymongo
pandas
numpy
scikit-learn
pymongo
python-dotenv
watchfiles
mypy-boto3-s3
watchfiles
PyYAML
dill
scipy
imblearn
xgboost
fastapi
uvicorn
pip-chill
neuro-mf
websockets
wincertstore
s3transfer
dnspython
evidentlygit
#-e . 